
export(makeCalArray)
export(plotCalArray)
export(summedCalibrator)
export(plotPD)
export(summedCalibratorWrapper)
export(phaseCalibrator)
export(summedPhaseCalibrator)
export(uncalibrateCalendarDates)
export(loglik)