
export(makeCalArray)
export(plotCalArray)
export(summedCalibrator)
export(plotPD)
export(summedCalibratorWrapper)
export(phaseCalibrator)
export(summedPhaseCalibrator)
export(uncalibrateCalendarDates)
export(loglik)
export(convertPars)
export(objectiveFunction)
export(mcmc)
export(simulateCalendarDates)
export(estimateDataDomain)
export(SPDsimulationTest)
export(relativeRate)
export(plotSimulationSummary)
export(checkData)
export(sinewavePDF)
export(CPLparsToHinges)


importFrom(graphics, plot, axis, image, legend, lines, par, polygon, text)
importFrom(grDevices, colorRampPalette, svg)
import(mathjaxr)
importFrom(stats, approx, dcauchy, dlnorm, dnorm, dunif, qbeta, qgamma, quantile, rnorm, sd)
importFrom(scales, alpha)
importFrom(zoo, rollmean)
