
export(makeCalArray)
export(plotCalArray)
export(summedCalibrator)
export(plotPD)
export(summedCalibratorWrapper)
export(phaseCalibrator)
export(summedPhaseCalibrator)
export(uncalibrateCalendarDates)
export(loglik)
export(convertPars)
export(objectiveFunction)
export(mcmc)
export(simulateCalendarDates)
export(estimateDataDomain)
export(SPDsimulationTest)
export(relativeRate)
export(plotSimulationSummary)

importFrom(grDevices, colorRampPalette)
importFrom(graphics, axis, image, legend, lines, par, polygon, text)
importFrom(stats, approx, dlnorm, dnorm, dunif, qbeta, qgamma, quantile, rnorm, sd)
importFrom(scales, alpha)
importFrom(zoo, rollmean)
